html,body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.2em;
  margin: 10px 0;
}

hr {
  width: calc(100% - 2rem);
  max-width: 780px;
  margin: 0 auto;
  border: .04em solid hsl(0,0%,75%);
  background-color: hsl(0,0%,75%);
}

.logo {
  width: 200px;
  height: 150px;
  border: 1px solid red;
  margin: 10px auto;
}

.title {
  text-align: center;
  padding: 20px 0;
}

.title h1,.title h3 {
  margin: 0;
}

section {
  padding: 20px 1rem;
  max-width: 800px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

section h3,section h4 {
  margin: 10px 0;
}

li {
  margin: .4em 0;
}

.content:first-letter {
  margin-left: 1.5em;
}

.img-wrapper {
  height: 200px;
  width: 150px;
  border: 1px solid red;
  margin: 1em auto;
}

section li a {
  font-weight: bold;
}