html,body,#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  --sidebar: hsl(0,0%,7%);
  --tab-bg: hsl(0,0%,15%);
  --tab-border: hsl(0,0%,12%);
  --sidebar-color: hsl(0,0%,95%);
  --switch: hsl(209.7,100%,50%);
}

* {
  box-sizing: border-box;
}

.editor-wrapper {
  width: 100vw;
  height: 100vmin;
}