html,body,#root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  --sidebar: hsl(0, 0%, 95%);
  --sidebar-border: black;
  --tab-bg: hsl(0, 0%, 100%);
  --tab-border: hsl(0,0%,15%);
  --sidebar-color: hsl(0,0%,0%);
  --switch: rgb(255, 166, 0);
  --selected: rgb(255, 166, 0);
  /* --selected: rgb(47, 32, 253); */
  --home-bg: hsl(0,0%,97%);
  --home-color: hsl(0,0%,7%);
  --toggler-color: rgb(17, 17, 17);
  --home-link: hsl(240,100%,43.3%);
  --home-img-border: black;
}
html::-webkit-scrollbar, 
body::-webkit-scrollbar, 
#root::-webkit-scrollbar {
  display: none;
}

body[data-theme='dark'] {
  --home-color: hsl(0,0%,100%);
  --home-bg: hsl(0,0%,20%);
  --sidebar-border: white;
  --toggler-color: yellow;
  --tab-bg: hsl(0,0%,23%);
  --tab-border: hsl(0,0%,5%);
  --sidebar-color: hsl(0,0%,98%);
  --sidebar: hsl(0,0%,12%);
  --home-link: rgb(255, 166, 0);
  --home-img-border: white;
}

* {
  box-sizing: border-box;
}
*:active,*:hover,*:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.editor-wrapper {
  width: 100%;
  height: 100%;
  height: calc(100% - 50px);
}

.no-file {
  height: 100%;
  padding: 10px 20px;
  background-color: var(--home-bg);
  color: var(--home-color);
}

.no-file h1,h4 {
  margin: 10px;
  text-align: center;
}

@media screen and (min-width: 900px) {
  #root {
    margin-right: 300px;
  }
}

@media screen and (min-width: 1100px) {
  #root {
    margin-right: 350px;
  }
}