.addFile > * {
  width: 100%;
  margin: 0;
  height: 80%;
  position: absolute;
  transition: left .2s ease;
}

.addFile {
  position: relative;
  overflow: hidden;
}

.addFile .label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.addFile button {
  cursor: pointer;
}

.addFile p {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}

.addFile input {
  width: calc(100% - 80px);
  height: 100%;
  border: 1px solid var(--sidebar-color);
  background-color: transparent;
  color: var(--sidebar-color);
  border-radius: 4px;
}

.addFile button {
  width: 40px;
  height: 100%;
  border: 1px solid var(--sidebar-color);
  background-color: transparent;
  color: var(--sidebar-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.file-name div {
  height: 100%;
  display: flex;
  align-items: center;
  width: 80%;
  /* border: 1px solid yellow; */
}

.file-name p {
  margin: 0;
  overflow-x: auto;
  user-select: none;
}

.file-name img {
  height: 70%;
  aspect-ratio: 1/1;
  background-color: white;
  /* display: flex; */
  border-radius: 2px;
  margin-right: 10px;
}

.file-name span{
  height: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  font-size: 24px;
  font-weight: bold;
  /* border: 1px solid yellow; */
}