html,body,#root {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  padding: 10px;
}

.App {
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}