.pallet {
  height: calc(1rem + 35px);
  padding: 5px 10px 10px 10px;
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  background-color: hsl(0,0%,12%);
  border-bottom: 1px solid hsl(0,0%,80%);
}

.pallet-file {
  /* border: 1px solid red; */
  font-size: calc(1rem);
  padding: 5px 8px;
  background-color: hsl(0,0%,23%);
  color: white;
  border-radius: .3em;
}